body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100vw; */
  }
  header {
    background-color: #ffff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .logo {
    width: 250px;
    height: auto;
  } */
  .buttons {
    display: flex;
    gap: 10px;
  }
  .register-button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .login-button {
    background-color: #7ed957;
    color: black;
    padding: 2px 30px;
    border: none;
    cursor: pointer;
  }

  .main{
    position: relative;
    margin-bottom: 50px;
  }

  .main-image {
    padding: 0px 50px;
  }

  .btn-container {
    position: absolute;
    bottom: 110px;
    left:80px;
  }

  .btn-container button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-container button:hover{
    cursor: pointer;
  }

  img.centered-image {
    height: auto;
    width: 100%;
    margin-top: 10px;
    /* margin-left: 140px;
    margin-right: -1000px; */
    border-radius: 15px;
  }

  .horizontal-strip {
    background-color: #7ed957; 
    color: white; 
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
  }

  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px; 
    margin-left: 100px;
    margin-bottom: 50px;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 15px ;
  }
  .image-container img {
    width: 80%; 
    height: 512px;
    margin: 40px;
    cursor: pointer;
    border: 2px solid transparent; 
    border-radius: 10px;
    margin-bottom: 10px ;
  }


.image-container img:last-child {
  margin-right: 0; 
}

  .image-container img:hover {
    border-color: green; 
  }

  .image-details {
    margin-top: -30px;
    margin-left: 0px;
    font-size: 20px;
    text-align: left;
  }

  .get-started-button {
    background-color: white;
    color: black;
    padding: 10px 50px;
    border: 2px solid #7ed957;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 25px;
    font-weight: bold;
    border-width: 3px;
  }


  footer {
    width: 100%;
    background-color: black;
    padding-top: 20px;
    color: white;
    text-align: right;
    padding-bottom: 200px;
  }

  footer a{
    color: white;
    text-decoration: none;
    margin-right: 20px ;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 50px;
  }
  .content-item {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    /* width: 10%;  */
    color: #7ed957;
    font-weight: bold;
  }

  .content-item img {
    width: 70%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px; 
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .notification-bell {
    position: relative;
    margin-right: 20px;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
