<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
    
<title>Dashboard</title>

</head>
<body>
<header>
  <img src="../images/5.png" alt="Logo" class="logo">
  <div class="buttons">
    <button class="register-button">Register</button>
    <button class="login-button">Login</button>
  </div>
</header>

<img src="../images/centered-image.png" alt="Centered Image" class="centered-image">

<div class="horizontal-strip">
  <p>Finding a roommate should be stress-free</p>
</div>

<h2 class="heading">SUGGESTED ROOMMATES</h2>

<div class="image-container">
  <div class="image-details">
    <img src="../images/portrait1.jpg" alt="Portrait 1">
    <p style="margin-left: 41px; font-weight: bolder;">Jane Doe</p>
    <p style="margin-left: 41px; margin-top: -20px;">Hosanna</p>
  </div>
  <div class="image-details">
    <img src="../images/portrait2.jpg" alt="Portrait 2">
    <p style="margin-left: 41px; font-weight: bolder;">Samantha Payton</p>
    <p style="margin-left: 41px; margin-top: -20px;">Charlotte</p>
  </div>
  <div class="image-details">
    <img src="../images/portrait3.jpg" alt="Portrait 3">
    <p style="margin-left: 41px; font-weight: bolder;">Mychaela Johnson</p>
    <p style="margin-left: 41px; margin-top: -20px;" >Dufie Annex</p>
  </div>
</div>


<center><button class="get-started-button">Get Started</button></center>>


<div class="horizontal-strip">
  <p>Roommate search simplied</p>
</div>

<div class="content-container">
  <div class="content-item" style="margin-top: 30px;">
    <img src="../images/img1.png" alt="Image 1">
    <p style="color:#7ed956; margin-top: 30px; font-size: 20px; font-weight: bolder;">Matching Lifestyles</p>
  </div>
  <div class="content-item">
    <img src="../images/img2.png" alt="Image 2">
    <p style="color:#7ed956; font-size: 20px; font-weight: bolder;">Saves Time</p>
  </div>
  <div class="content-item">
    <img src="../images/img3.png" alt="Image 3" style="width: 90px;";>
    <p style="color:#7ed956; font-size: 20px; font-weight: bolder;" >New Friendships</p>
  </div>
</div>

<footer>
  <div>
    <a href="#">Privacy</a>
    <a href="#">Contact Us</a>
    <a href="#">About Us</a>
  </div>
</footer>

</body>
</html>
